<div class="card">
    <div class="search-container">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Search" class="search-input" />
      </span>
    </div>
    <div  style="display: flex; justify-content: center;
    align-items: center;">
    <p-button class="btn-filtro" icon="pi pi-check"></p-button>
    <p-button class="btn-filtro" icon="pi pi-check"></p-button>
    <p-button class="btn-filtro" icon="pi pi-check"></p-button>

    </div>  
</div>
  