<div class="card">
    <div class="search-container">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Search" class="search-input" />
      </span>
    </div>
    <div  style="display: flex; justify-content: center;
    align-items: center;">
    <div style="margin: 1%;">
    <p-button class="btn-filtro" icon="pi pi-check"></p-button>
    <p>Terror</p>
  </div>
  <div style="margin: 1%;">
    <p-button class="btn-filtro" icon="pi pi-check"></p-button>
    <p>Accion</p>
  </div>
  <div style="margin: 1%;">
    <p-button class="btn-filtro" icon="pi pi-check"></p-button>
    <p>Fantacia</p>
  </div>

    </div>
</div>
