<p>GamePlanet es una destacada cadena de tiendas especializadas en videojuegos, consolas y accesorios en México. Se ha posicionado como un lugar ideal para los entusiastas de los videojuegos, ya que ofrece una amplia gama de productos, desde los títulos más recientes hasta las consolas más avanzadas y accesorios especializados. Además, GamePlanet se caracteriza por su enfoque en brindar una experiencia integral a los gamers, con personal capacitado que ofrece asesoría experta y recomendaciones personalizadas.</p>
<div class="product-info">
  <div class="product">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRardYCzPE94b-BHFEl5dCVkinVx-OwIH4Fgg&s" alt="Devil May Cry">
    <p>La historia sirve como precuela del primer Devil May Cry, Dante es un joven arrogante y compulsivo, que se ve envuelto en una misión de derrotar a su hermano gemelo Vergil, que planea abrir las puertas del infierno para obtener el poder de su padre Sparda.</p>
  </div>
  <div class="product">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSilBEHnhQHns-ygHT4ut4SDkaDo7y4k6fSUg&s" alt="Recident Evil 4">
    <p>El remake de Resident Evil 4 profundiza en los momentos más memorables del juego original. Las escenas de acción son más estimulantes, y las secuencias de terror ofrecen una experiencia de juego aún más aterradora.</p>
  </div>
</div>
