<div class="card">
  <p-table [value]="usuarios" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Fecha de Nacimiento</th>
        <th>Género</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.fechaNacimiento | date:'dd/MM/yyyy' }}</td>
        <td>{{ usuario.genero }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
